body {
    background-color: rgb(44, 43, 44);
    }
  div, h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  }

  li {
  color: white;
  }
  .responsive {
  width: 85%;
  height: auto;
  }
  .responsive1 {
  width: 55%;
  height: auto;
  }